Makefile
Makefile.in
*.o
*.
*.lo
*.la
/config.*
/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/test-driver
/m4
/missing
.deps
.libs
.dirstamp
/tmp
libtool
ltmain.sh
configure
test/run-tests
